<div style="background-color: rgb(170, 192, 211); margin-bottom: 0%;"> 
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" >
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><a style="color: rgb(255, 255, 255); text-decoration: none;" routerLink="home">Home</a></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="clients-tab" data-bs-toggle="tab" data-bs-target="#clients" type="button" role="tab" aria-controls="clients" aria-selected="false"><a style="color: rgb(255, 255, 255); text-decoration: none;" routerLink="clients">Clients Mgt.</a></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="meeting-tab" data-bs-toggle="tab" data-bs-target="#meetings" type="button" role="tab" aria-controls="meetings" aria-selected="false"><a style="color: rgb(255, 255, 255); text-decoration: none;" routerLink="meetings">Meetings Mgt.</a></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="false"><a style="color: rgb(255, 255, 255); text-decoration: none;" routerLink="about">About Us</a></button>
  </li>
</ul>
</div>


    <router-outlet></router-outlet>

