#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 55%;
    font-size: 16px;
    padding: 6px 10px 6px 20px;
    border: 1px solid #ddd;
    margin-top:  10px;
    margin-right:  10px;
    border-radius: 10px;
}




