
<div >
        <img src="..\assets\homeBgImg.jpg" srcset="..\assets\homeBgImg.jpg 750w,
        ..\assets\homeBgImg.jpg 20480w" width="46%"   max-width = "100%"
        height = "auto" alt="landscape" style="margin-left: 24%;">
    
    <div>

        <p style="text-align: center; background-color:black; color: aliceblue; padding: 5px; margin-top: 0.4%;">&copy; AnnaTech App - Developed by Henna
            Solutions &nbsp;&nbsp;&nbsp;<a href="#" style="color: coral;"> Privacy / Security / Terms</a></p>
    </div>
</div>
