<h2 style="text-align: center; margin-top: 20px; "> AnnaTech Architectural Firm</h2><hr>
    <p style="padding: 0px 0px 20px 20px; margin-left: 200px; margin-right: 200px;">AnnaTech is an Architectural firm that manages clients and both online/offline 
        client meetings schedules and projects, using project  management software 
        called AnnaTech App. which was developed by Henna Solutions, a software company 
        in the town.<br>
    <h4 style="padding: 0px 0px 20px 20px; margin-left: 100px; margin-right: 200px;" > Our Goal </h4>
   <p style="text-justify: newspaper; padding: 0px 0px 20px 20px; margin-left: 200px; margin-right: 200px"> Having built a responsive Single Page Application (SPA) webapp for Client Management 
    Application to handle data of multiple clients and projects getting developed in 
    parallel regarding projects tasks,client meetings, and client portfolio. we provide 
    Architectural project management services to all our clients both local and 
    international. You can contact us for your solution by registering on the App. 
    via the Create New Client tab.</p>
